.ui-accordion-header.ui-state-active { background-color: rgb(114, 174, 107) !important; }
.ui-accordion-header { background-color: rgb(157,199,156) !important; }
.ui-accordion-content { background-color: rgb(114, 174, 107) !important; }