#tableDiv {
    table-layout: fixed;
}

th,td {
    border: 2px solid grey;
}

tr:hover {
    background-color: rgba(128, 128, 128, 0.171);
}

td:hover {
    background-color: rgba(128, 128, 128, 0.181);
}